<a href="https://colab.research.google.com/github/AntonioMoradoRamos/meia-masterdegree-experiments/blob/main/tarefas_ml_3_split_train_test_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dividir conjunto de dados em treino e teste

Importar o ficheiro "jan_2019_periodo_dia.csv" para o colab.<br>

Características deste caso de uso:
*    Considera os todos os dias da semana de segunda-feira até domingo
*    Atributos 'isoweekday','temperature (˚C)', 'humidity (%)', 'period_of_day'
*    Treino: 80%
*    Test: 20%

##Bibliotecas

In [ ]:
USE_MATPLOTLIB = False

In [ ]:
import pandas as pd
import numpy as np

import sklearn
#For divide data into train and test data
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, accuracy_score


#For data visualization
if USE_MATPLOTLIB:
  import matplotlib.pyplot as plt
  import seaborn as sns
  import matplotlib.dates as mdates

import math

In [ ]:
# Versão python
!python --version

Python 3.7.12

In [ ]:
# Versão sklearn
sklearn_version = sklearn.__version__
print(sklearn_version)

1.0.2

In [ ]:
# Versão Pandas
print(pd.__version__)

1.1.5

##Load Dataset

In [ ]:
csv_file_name = "jan_2019_periodo_dia.csv"
ds_merged = pd.read_csv(csv_file_name, sep = ';')

##Análise exploratória

In [ ]:
ds_merged.head()

   Unnamed: 0        date  ... isoweekday  period_of_day
0           0  2019-01-01  ...          2              1
1           1  2019-01-01  ...          2              1
2           2  2019-01-01  ...          2              1
3           3  2019-01-01  ...          2              1
4           4  2019-01-01  ...          2              1

[5 rows x 10 columns]

In [ ]:
ds_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8927 entries, 0 to 8926
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        8927 non-null   int64
 1   date              8927 non-null   object
 2   time              8927 non-null   object
 3   consumption (w)   8927 non-null   int64
 4   generation (w)    8927 non-null   int64
 5   temperature (˚C)  8927 non-null   float64
 6   humidity (%)      8927 non-null   float64
 7   radiation (Wm^2)  8927 non-null   float64
 8   isoweekday        8927 non-null   int64
 9   period_of_day     8927 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 697.5+ KB

### Conclusões

É preciso retirar o atributo "Unnamed: 0"<br>
O tipo de dado do atributo "date" tem de ser convertido para datetime<br>

##Pré-processamento

In [ ]:
# Retirar o atributo "Unnamed: 0"
ds_merged.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
# Converter o tipo de dado do atributo "date" para datetime
ds_merged['date']= pd.to_datetime(ds_merged['date'])

In [ ]:
ds_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8927 entries, 0 to 8926
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              8927 non-null   datetime64[ns]
 1   time              8927 non-null   object
 2   consumption (w)   8927 non-null   int64
 3   generation (w)    8927 non-null   int64
 4   temperature (˚C)  8927 non-null   float64
 5   humidity (%)      8927 non-null   float64
 6   radiation (Wm^2)  8927 non-null   float64
 7   isoweekday        8927 non-null   int64
 8   period_of_day     8927 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 627.8+ KB

In [ ]:
def bloxplot_consumption(ds_merged):
  ax = sns.boxplot(data=ds_merged['consumption (w)'], orient="v", width=0.2)
  ax.figure.set_size_inches(12, 6)
  ax.set_title("consumption (w)", fontsize=20)
  ax.set_xlabel("date", fontsize=16)
  ax.set_ylabel("consumption (w)", fontsize=16)

In [ ]:
# https://www.python-graph-gallery.com/basic-time-series-with-matplotlib

def plot_consumption(ds):
  fig, ax = plt.subplots(figsize=(20, 6))


  day_locator = mdates.DayLocator(interval=1)
  ax.xaxis.set_major_locator(day_locator)

  year_month_day_formater = mdates.DateFormatter('%Y-%m-%d')
  ax.xaxis.set_major_formatter(year_month_day_formater)

  ax.plot(ds['date'], ds['consumption (w)'], color='b')
  # Rotates and right aligns the x labels. 
  # Also moves the bottom of the axes up to make room for them.
  fig.autofmt_xdate()

In [ ]:
if USE_MATPLOTLIB:
  plot_consumption(ds_merged)

In [ ]:
def barplot_consumption(ds):
  # set plot style: grey grid in the background:
  sns.set(style="darkgrid")

  # Set the figure size
  fig, ax = plt.subplots(figsize=(20, 6))

  day_locator = mdates.DayLocator(interval=1)
  ax.xaxis.set_major_locator(day_locator)

  year_month_day_formater = mdates.DateFormatter('%Y-%m-%d')
  ax.xaxis.set_major_formatter(year_month_day_formater)

  plt.bar(ds['date'], ds['consumption (w)'])
 
  plt.xlabel("date")
  plt.ylabel("consumption (w)")
  plt.title("consumption (w) x date")


  # Rotates and right aligns the x labels. 
  # Also moves the bottom of the axes up to make room for them.
  fig.autofmt_xdate()

  plt.show()

In [ ]:
if USE_MATPLOTLIB:
  barplot_consumption(ds_merged)

In [ ]:
ds_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8927 entries, 0 to 8926
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              8927 non-null   datetime64[ns]
 1   time              8927 non-null   object
 2   consumption (w)   8927 non-null   int64
 3   generation (w)    8927 non-null   int64
 4   temperature (˚C)  8927 non-null   float64
 5   humidity (%)      8927 non-null   float64
 6   radiation (Wm^2)  8927 non-null   float64
 7   isoweekday        8927 non-null   int64
 8   period_of_day     8927 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 627.8+ KB

In [ ]:
# Verificar que não foi retirado o dia de sábado
ds_merged.query('date == 20190105')

           date      time  ...  isoweekday  period_of_day
1151 2019-01-05  00:00:00  ...           6              1
1152 2019-01-05  00:05:00  ...           6              1
1153 2019-01-05  00:10:00  ...           6              1
1154 2019-01-05  00:15:00  ...           6              1
1155 2019-01-05  00:20:00  ...           6              1
...         ...       ...  ...         ...            ...
1434 2019-01-05  23:35:00  ...           6              4
1435 2019-01-05  23:40:00  ...           6              4
1436 2019-01-05  23:45:00  ...           6              4
1437 2019-01-05  23:50:00  ...           6              4
1438 2019-01-05  23:55:00  ...           6              4

[288 rows x 9 columns]

In [ ]:
if USE_MATPLOTLIB:
  plot_consumption(ds_merged)

In [ ]:
if USE_MATPLOTLIB:
  barplot_consumption(ds_merged)

In [ ]:
# Isolar X ( features that contribuite to the prediction ) and Y ( Y is the value to predict )
y = ds_merged['consumption (w)']     # O que pretendo prever
X = ds_merged[['isoweekday','temperature (˚C)', 'humidity (%)', 'period_of_day']]

In [ ]:
X.head()

   isoweekday  temperature (˚C)  humidity (%)  period_of_day
0           2               8.7          76.0              1
1           2               8.6          76.0              1
2           2               8.7          76.0              1
3           2               8.7          76.0              1
4           2               8.6          76.0              1

##Dados de treino e teste

###Split

In [ ]:
# Com o shuffle o r2 score abaixa muito
# Ainda, se adicionar a feature "date" o RF gera erro
# Rever: Se é uma regressão, então não deveria ser considerada apenas a data?
#.       Como fazer uma regressão com a data considerando outros atributos no eixo X?
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 42, shuffle=False)

# Note que este é um cenário de multi linear regression pois existe
# mais do que uma variável independente, i.e., eixo X.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 42)

In [ ]:
X_train.head()

      isoweekday  temperature (˚C)  humidity (%)  period_of_day
196            2              13.4          65.0              3
6510           3              12.7          93.0              3
1155           6               6.3          67.0              1
7203           6               9.8          90.0              1
7040           5              12.6          77.0              2

In [ ]:
X_test.head()

      isoweekday  temperature (˚C)  humidity (%)  period_of_day
1737           1              10.4          38.0              1
2399           3               7.6          67.0              2
286            2               6.8          91.0              4
7361           6              16.6          60.0              3
7130           5              15.1          77.0              4

In [ ]:
y_train.head()

196     2514
6510    7688
1155    2299
7203    2304
7040    6963
Name: consumption (w), dtype: int64

In [ ]:
y_test.head()

1737    2273
2399    3634
286     2241
7361    2855
7130    3699
Name: consumption (w), dtype: int64

In [ ]:
print(X_train.shape)
print(y_train.shape)
#(5298, 3)
#(1325, 3)

(7141, 4)
(7141,)

In [ ]:
print(X_test.shape)
print(y_test.shape)

(1786, 4)
(1786,)

In [ ]:
print(type(X_train))
print(type(y_train))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [ ]:
print(type(X_test))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [ ]:
from google.colab import files
def export_train_test_data_as_csv(ds, file_name):
  ds.to_csv(file_name, sep=';')
  files.download(file_name)

In [ ]:
file_name = "X_train_segunda_a_domingo_quatro_atributos.csv"
export_train_test_data_as_csv(X_train, file_name)

In [ ]:
file_name = "y_train_segunda_a_domingo_quatro_atributos.csv"
export_train_test_data_as_csv(y_train, file_name)

In [ ]:
file_name = "X_test_segunda_a_domingo_quatro_atributos.csv"
export_train_test_data_as_csv(X_test, file_name)

In [ ]:
file_name = "y_test_segunda_a_domingo_quatro_atributos.csv"
export_train_test_data_as_csv(y_test, file_name)

#Bibliografia

*   Random Forest<br>
https://towardsdatascience.com/random-forest-in-python-24d0893d51c0

*    SHAP<br>
https://www.youtube.com/watch?v=J5E4umn8Fb4<br>
https://www.youtube.com/watch?v=NkkwVIgUbKY

*   LIME<br>
https://github.com/marcotcr/lime<br>
https://marcotcr.github.io/lime/tutorials/Using%2Blime%2Bfor%2Bregression.html<br>
https://www.youtube.com/watch?v=d6j6bofhj2M<br>
https://www.youtube.com/watch?v=1mNhPoab9JI<br>
https://www.youtube.com/watch?v=z1iyYHpjcvs<br>
https://coderzcolumn.com/tutorials/machine-learning/how-to-use-lime-to-understand-sklearn-models-predictions

*   Dataset gecad - smartgridcompetitions<br>
http://www.gecad.isep.ipp.pt/smartgridcompetitions/data/

*   Python<br>
https://docs.python.org/3.7/library/datetime.html#module-datetime<br>
https://docs.python.org/3.7/library/datetime.html#datetime.datetime<br>
https://medium.com/horadecodar/data-science-tips-02-como-usar-loc-e-iloc-no-pandas-fab58e214d87<br>


*   Pandas<br>
https://pandas.pydata.org/docs/getting_started/index.html#getting-started<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html<br>
https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.date.html?highlight=date#pandas.Series.dt.date<br>
https://stackoverflow.com/questions/26521266/using-pandas-to-pd-read-excel-for-multiple-worksheets-of-the-same-workbook<br>
https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html<br>
https://www.delftstack.com/pt/howto/python-pandas/pandas-unique-values-in-column/<br>

*   Métricas<br>
https://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics<br>
https://scikit-learn.org/stable/modules/model_evaluation.html#regression-metrics

*    Multi linear regression<br>
https://www.analyticsvidhya.com/blog/2021/05/multiple-linear-regression-using-python-and-scikit-learn/<br>
https://www.youtube.com/watch?v=4o0UPg4s8MM

*    NumPy<br>
https://colab.research.google.com/github/geekmj/python-tutorials/blob/master/numpy-basics/save-array-to-file.ipynb

*    Métricas<br>
https://arxiv.org/pdf/2011.09903.pdf<br>
https://arxiv.org/abs/2107.05693<br>
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8484963/<br>
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8484963/#B1<br>
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8056245/<br>
https://github.com/amparore/leaf/blob/master/LEAF_test.ipynb<br>
https://arxiv.org/pdf/2001.11757.pdf<br>


https://towardsdatascience.com/instability-of-lime-explanations-3e0efc00a7de<br>
https://pypi.org/project/lime-stability/<br>
shap accuracy - https://github.com/slundberg/shap/issues/1423<br>
https://github.com/suinleelab/treeexplainer-study